<div class="clr-row clr-justify-content-center">
  <div class="clr-col-xl-7 clr-col-lg-10 clr-col-md-12 clr-col-12">
      <div class="card">
        <div class="event-container">
          <div class="no-event-box" *ngIf="eventState">
            <h1>No on-going event.</h1>
          </div>
          <ng-container *ngIf="!eventState">
            <div class="event-box" *ngFor="let events of currentEvent">
              <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 box-side p-0">
                <h1>{{events.start_date | date:'dd'}}</h1>
                <span>{{events.start_date | date:'LLLL'}}</span>
              </div>
              <div class="clr-col-lg-7 clr-col-md-7 clr-col-sm-12 box-content">
                <div class="event-title">
                  {{events.title}}
                </div>
                <div class="event-location">
                  {{events.location}}
                </div>
                <div class="event-time">
                  <div class="start-time time-style">
                    <clr-icon shape="clock"></clr-icon>
                    <label class="start-label"> Starts at </label>
                    <span class="time">{{events.start_date | date:'longDate'}}</span>
                    <span class="time" style="margin: 0 5px">-</span>
                    <span class="time">{{events.start_time}}</span>
                  </div>
                  <div class="end-time time-style">
                    <clr-icon shape="clock"></clr-icon>
                    <label class="end-label"> Ends at  </label>
                    <span class="time">{{events.end_date | date:'longDate'}}</span>
                    <span class="time" style="margin: 0 5px">-</span>
                    <span class="time">{{events.end_time}}</span>
                  </div>
                </div>
              </div>
              <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 box-end p-0">
                <h1>{{totalQueue.length}}</h1>
                <span>Total Queue</span>
              </div>
            </div>
          </ng-container>
          <div class="event-list">
              <clr-datagrid>
                  <clr-dg-column>Events</clr-dg-column>
                  <clr-dg-column>Start Date</clr-dg-column>
                  <clr-dg-column>End Date</clr-dg-column>
                  <clr-dg-column>Total Queue</clr-dg-column>
      
              <ng-container *ngIf="events">
                  <clr-dg-row *ngFor="let event of events; let i = index">
                      <clr-dg-cell>{{event.title}}</clr-dg-cell>
                      <clr-dg-cell>{{event.start_date | date:'longDate'}}</clr-dg-cell>
                      <clr-dg-cell>{{event.end_date | date:'longDate'}}</clr-dg-cell>
                      <clr-dg-cell>{{event.queue.length}}</clr-dg-cell>
                  </clr-dg-row>
              </ng-container>
              </clr-datagrid>

          </div>
        </div>
      </div>
  </div>
</div>