<clr-main-container>
    <app-header (show)="showProfile($event)"></app-header>
    <div class="content-container">
    <app-side-nav (open)="createNewEvent($event)"></app-side-nav>
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>
  </div>
  <ng-container *ngIf="open">
      <app-add-event [user]="user" (close)="hideNewEvent($event)"></app-add-event>
  </ng-container>

  <ng-container *ngIf="openProfile">
    <app-profile (close)="closeProfile($event)"></app-profile>
  </ng-container>
  
</clr-main-container>