@import url('https://fonts.googleapis.com/css?family=Open+Sans');


* {
    font-family: 'Open Sans', sans-serif;
}
.profile-style{
    margin: 0;
    padding: 20px;
}

.direction{
    flex-direction: column;
}
.header-row{
    height: 40%;            
    margin:0;
    border-bottom: 1px solid #d7d7d7;

    .clr-row{
    font-size: 26px;
    color: #2b2a2a;
    }

    .m-bottom{
        margin-bottom: 10px;

        .top-header{
            .name{
                font-weight: bold;
                color: #595656bd;
                margin-bottom: 8px;

            }   

            .company{
                color: #1b181870;
                margin-bottom: -5px;
                font-size: 12px;
            }
            .email{
                font-size: 11px;
                color: #0a07077a;
            }
        }
    }

}
    