
.inputTime{
    width: 100%;
}
.clr-input{
    width: 100%;
}

.modal-header{
    padding: 0;
}
.modal-body{
    padding: 0 20px 20px 20px;
}

.m-top{
    margin-top: 1rem;
}

.p-0{
    padding: 0;
}