<div class="clr-row">
  <div class="clr-col p-0">
    <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-12">
      <div class="card">
        <div class="card-block">
          <div class="card-title">
            Users
          </div>
          <div class="card-text style-text">
            200+
          </div>
        </div>
        <div class="card-footer">
          <clr-icon shape="user" class="is-solid"></clr-icon>
          <div class="card-text">
            Queue
          </div>
      </div>
    </div>
    </div>
  </div>
  <div class="clr-col p-0">
    <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-12">
        <div class="card">
            <div class="card-block">
              <div class="card-title">
                Users
              </div>
              <div class="card-text style-text">
                200+
              </div>
            </div>
            <div class="card-footer">
              <clr-icon shape="user" class="is-solid"></clr-icon>
              <div class="card-text">
                Queue
              </div>
          </div>
        </div>
    </div>
  </div>
  <div class="clr-col p-0">
      <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-12">
          <div class="card">
              <div class="card-block">
                <div class="card-title">
                  Users
                </div>
                <div class="card-text style-text">
                  200+
                </div>
              </div>
              <div class="card-footer">
                <clr-icon shape="user" class="is-solid"></clr-icon>
                <div class="card-text">
                  Queue
                </div>
            </div>
          </div>
      </div>
    </div>     
</div>

<div class="clr-row">
  <div class="clr-col-lg-8 clr-col-md-12 clr-col-sm-12">
    <div class="card">
      <div class="chart-container" style="height: 100%;">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
  <div class="clr-col-lg-4 clr-col-md-12 clr-col-sm-12">
    <div class="card">
      <div class="chart-container" style="height: 100%;">
        <canvas id="myPieChart"></canvas>
      </div>
    </div>
  </div>
</div>
