<div class="clr-row clr-justify-content-center h-100">
    <div class="clr-col-lg-6 clr-col-md-10 clr-col-12">
        <div class="card h-100">
            <div class="clr-row header-row clr-justify-content-center clr-align-items-center direction">
                <div class="clr-row m-bottom">
                    <div class="user-image">
                        <img src="../../../../../assets/images/prof.png" style="height: 20vh; min-height: 150px">
                    </div>
                </div>
                <div class="clr-row m-bottom">
                    <span class="name">Renmart Callejo</span>
                </div>
            </div>
            <div class="clr-row">
                   
            </div>

        </div>
    </div>
</div>