
   <clr-header class="header-8">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="vm-bug"></clr-icon>
                <span class="title">Virtual Queue</span>
            </a>
        </div> 
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger>
                    <clr-icon shape="user"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a href="admin/profile" clrDropdownItem>Profile</a>
                    <a href="..." clrDropdownItem>About</a>
                    <a href="..." clrDropdownItem>Preferences</a>
                    <a (click)="signOut()" clrDropdownItem>Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </clr-header>


