<div class="main-container">
  <div class="login-wrapper">
      <form class="login">
          <section class="title">
            Create Account
          </section>
          <div class="login-group">
              <clr-input-container>
                  <input type="text" name="email" clrInput placeholder="Email" [(ngModel)]="email"/>
              </clr-input-container>
              <div class="clr-control-container">
                <clr-password-container>
                    <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="password" />
                    <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </clr-password-container>
              </div>
              <div class="clr-control-container" [ngClass]="{'clr-error': validatePassword()}">
                <clr-password-container>
                  <input type="password" name="password" clrPassword placeholder="Repeat password" [(ngModel)]="repeatPassword" />
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </clr-password-container>
              </div>
              <div class="alert {{alert.type}} alert-sm" role="alert" *ngIf="show">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                        </div>
                        <span class="alert-text">
                          {{alert.message}}
                        </span>
                    </div>
                </div>
              </div>
              <button type="submit" class="btn btn-style" (click)="register()">Submit</button>
              <div class="clr-row">
                <span>Already have an account?</span>&nbsp;<a routerLink="/login" class="login-link"> Login Here</a>
              </div>
          </div>
      </form>
  </div>
</div>