<div class="add-event-container">
    <div class="form-wrapper">
        <div class="title">
            Add New Event
        </div>
        <div class="alert {{alert.type}}" role="alert" *ngIf="showAlert">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        {{alert.message}}
                    </span>
                </div>
            </div>
        </div>
        <form class="clr-form">
            <div class="clr-form-control clr-row">
                <label for="example" class="clr-control-label clr-col-12 clr-col-md-12">Event</label>
                <div class="clr-control-container clr-col-12 clr-col-md-12">
                    <div class="clr-input-wrapper">
                        <input type="text" id="example" placeholder="Title" [(ngModel)]="event.title" class="clr-input" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
            </div>
            <div class="clr-form-control clr-row">
                <label for="example" class="clr-control-label clr-col-12 clr-col-md-12">Location</label>
                <div class="clr-control-container clr-col-12 clr-col-md-12">
                    <div class="clr-input-wrapper">
                        <input type="text" id="example" placeholder="Address" [(ngModel)]="event.location" class="clr-input" [ngModelOptions]="{standalone: true}" disabled>
                    </div>
                </div>
            </div>
            <div class="clr-form-control clr-row">
                <label for="example" class="clr-control-label clr-col-12 clr-col-md-12">Start Date</label>
                <div class="clr-control-container clr-col-12 clr-col-md-12">
                    <div class="clr-input-wrapper">
                        <input type="date" clrDate name="demo" [(ngModel)]="event.startDate" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
            </div>
            <div class="clr-form-control clr-row">
                <label for="example" class="clr-control-label clr-col-12 clr-col-md-12">Start Time</label>
                <div class="clr-control-container clr-col-12 clr-col-md-12">
                    <div class="clr-input-wrapper">
                        <input type="time" class="inputTime" name="demo" [(ngModel)]="event.startTime" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
            </div>
            <div class="clr-form-control clr-row">
                <label for="example" class="clr-control-label clr-col-12 clr-col-md-12">End Date</label>
                <div class="clr-control-container clr-col-12 clr-col-md-12">
                    <div class="clr-input-wrapper">
                        <input type="date" clrDate name="demo" [(ngModel)]="event.endDate" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
            </div>
            <div class="clr-form-control clr-row">
                <label for="example" class="clr-control-label clr-col-12 clr-col-md-12">End Time</label>
                <div class="clr-control-container clr-col-12 clr-col-md-12">
                    <div class="clr-input-wrapper">
                        <input type="time" class="inputTime" name="demo" [(ngModel)]="event.endTime" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
            </div>
            <!-- <div class="clr-row m-top">
                <div class="clr-control-container clr-col-6 clr-col-md-6 clr-col-sm-12">
                    <label for="example" class="clr-control-label clr-col-12 clr-col-md-12 p-0">Start Date</label>
                    <div class="clr-input-wrapper">
                        <input type="date" clrDate name="demo" [(ngModel)]="event.startDate" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="clr-control-container clr-col-6 clr-col-md-6 clr-col-sm-12">
                    <label for="example" class="clr-control-label clr-col-12 clr-col-md-12 p-0">Start Time</label>
                    <div class="clr-input-wrapper">
                        <input type="time" class="inputTime" name="demo" [(ngModel)]="event.startTime" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
            </div>
            <div class="clr-row m-top">
                <div class="clr-control-container clr-col-6 clr-col-md-6 clr-col-sm-12">
                    <label for="example" class="clr-control-label clr-col-12 clr-col-md-12 p-0">End Date</label>
                    <div class="clr-input-wrapper">
                        <input type="date" clrDate name="demo" [(ngModel)]="event.endDate" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="clr-control-container clr-col-6 clr-col-md-6 clr-col-sm-12">
                    <label for="example" class="clr-control-label clr-col-12 clr-col-md-12 p-0">End Time</label>
                    <div class="clr-input-wrapper">
                        <input type="time" class="inputTime" name="demo" [(ngModel)]="event.endTime" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
            </div> -->
        </form>
        <div class="button-container">
            <button class="btn btn-outline" type="button" (click)="clearEventValues()">Clear</button>
            <button class="btn btn-primary" type="button" (click)="addNewEvent()">Add</button>
        </div>
    </div>
    <div class="map-wrapper" style="width: 100%;height: 100%;">
        <div class="map" id="myMap"></div>
    </div>
</div>

