<div class="clr-row clr-col-lg-10 clr-col-lg-12 clr-col-lg-12 h-100 w-100 row-style">
    <div class="clr-col-lg-8">
        <clr-datagrid>
            <clr-dg-column>Queue</clr-dg-column>
            <clr-dg-column>User ID</clr-dg-column>
            <clr-dg-column>Name</clr-dg-column>
            <clr-dg-column>Queue Time</clr-dg-column>

        <ng-container *ngIf="queue">
            <clr-dg-row *ngFor="let user of queue; let i = index" [ngClass]="{'disable' : user.status == '1'}">
                <clr-dg-cell>{{i+ 1}}</clr-dg-cell>
                <clr-dg-cell>{{user.user_id}}</clr-dg-cell>
                <clr-dg-cell>{{user.name}}</clr-dg-cell>
                <clr-dg-cell>{{user.user_id}}</clr-dg-cell>
            </clr-dg-row>
        
            <clr-dg-footer>{{queue.length}} customer</clr-dg-footer>
        </ng-container>
        </clr-datagrid>
    </div>
    <div class="clr-col-lg-4">
        <div class="current-user w-100 h-100">
            <div class="top w-100" *ngIf="customer">
                <div class="user-image">
                    <img src="../../../../../assets/images/Profile.jpg">
                </div>
                <div class="user-info">
                    <span class="name">
                        {{customer.name}}
                    </span>
                    <span class="email">
                        callejorenmart@gmail.com
                    </span>
                    <span class="address">
                        Manila Ph.
                    </span>
                </div>
            </div>
            <div class="bottom h-100 w-100">
                <button class="btn skip" (click)="prevCustomer()">Previous</button>
                <button class="btn btn-primary next" (click)="nextCustomer()">Next</button>
            </div>
        </div>
    </div>
</div>
