.login-wrapper{
    background: #f7f7f738;

    .login{
        margin: auto;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #e5e5e5;

        .spinner{
            position: fixed;
            z-index: 999;
            height: 2em;
            width: 2em;
            overflow: visible;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        .loading-overlay {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.3);
          }

        .login-group{
            .btn{
                margin: 1rem 0 0;
            }
        }
    }
}