<div class="main-container">
    <div class="login-wrapper">
        <form class="login">
            <section class="title">
                <h3 class="welcome">Welcome to</h3>
                Virtual Queue
                <h5 class="hint">Use your Company ID to sign in or create one now</h5>
            </section>
            <div class="login-group">
                <clr-select-container>
                    <select clrSelect name="type">
                        <option value="admin" selected>Administrator</option>
                    </select>
                </clr-select-container>
                <clr-input-container>
                    <input type="text" name="email" clrInput placeholder="Email" [(ngModel)]="email"/>
                </clr-input-container>
                <clr-password-container>
                    <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="password" />
                </clr-password-container>
                <div class="error active" *ngIf="show">
                    {{alert.message}}
                </div>
                <button type="submit" class="btn btn-style" [ngStyle]="validateInput()" (click)="login()">Login</button>
                <a routerLink="/register" class="signup">Sign up for a Company ID</a>
            </div>
        </form>
    </div>
</div>